#bflogo {
  position: fixed;
  z-index: 3;
  top: 6vh;
  height: 30vh;
  left: 4vw;


}

#carousel {
  margin-top: 10%;
  width: 100%;
  height: 60vh;
  img {
    margin-top: 10vh;
    width: 70vw;
  }
}
